@model IEnumerable<WebApplication1.Models.PosteTravail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypePoste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypePoste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employe.AdrCourriel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumPoste">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NumPoste">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NumPoste">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
